@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.Navigation {
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;  
    height: auto; 
    position:fixed;
    right: 0px;
    background-color: black;
    top: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%; /* Adjust as needed */
}

.navSection {
    flex: 1;
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0px;
    list-style: none;
}

.list li {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 15px;
    list-style: none;
    color: white;
    cursor: pointer;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}

.Image {
    width: 150px; 
    height: auto; 
    cursor: pointer;
}

.dropdownContainer {
    position: relative;
}

.dropDownContent {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(31, 31, 31);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

.dropDownContent ul {
    padding: 0px;
}

.dropDownItems {
    padding: 10px;
    padding-right: 50px;
    color: white;
    cursor: pointer;
}

.dropdownContainer:hover .dropDownContent {
    display: block;
}

.dropDownItems:hover {
    background-color: #1d0e2a;
}