@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.newsContainer {
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    border-top: 0px solid black;
    width: 100%;
    height: 100%;
}



.imageCard {
    width: 30px;
    margin-top: 35px;
    margin-left: 20px;
}

.textCard {
    font-size: 12px;
    width: 50%;
    margin-left: 45%;
    margin-right: 15px;
    padding-right: 10px;
}

.textCard h1 {
    font-size: 15px;
}

.textCard p {
    color: rgb(185, 184, 184);
}