@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.wweContainer {
    font-family: "Bai Jamjuree", serif;
}

.background h1 {
    font-size: 70px;
    margin-bottom: 0px;
}

.container {
    font-size: 20px;
    width: 25%;
    margin-left: 23%;
    margin-bottom: 0%;
    padding-top: 10%;
}

